@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

header{
    height: 100px;
    width: 100%;
    /* background-color: whitesmoke; */
    background-color: #E3E1D9;
    
}

.nav-1{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-1 .icon{
    height: 60px;
    width: 180px;
    display: flex;
    padding: 20px;
    gap: 22px;
    /* background-color: blanchedalmond; */  
}
.nav-1 .icon i{
    font-size: 18px;
}
.nav-1 .icon i:hover{
    /* color: #C7C8CC; */
    color: #BFCFE7;
}
.nav-1 h1{
    font-size: 30px;
    font-family: sans-serif;
    /* background-color: aqua; */
    margin-left: 150px;
    margin-right: 570px;
}
.nav-1 .btn{
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: blue; */
}


.nav-1 .btn form {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    width: 300px;
    border-radius: 12px;
    border: none;
    outline: none;
    /* padding: 10px; */
    background-color: rgb(197, 211, 224);
    /* top: 0;
    right: 0; */
}

.nav-1 .btn form input{
    border: none;
    outline: none;
    height: 38px;
    width: 275px;
    border-radius: 12px;
    padding-left: 15px;
    background-color: rgb(197, 211, 224);;
    
}
.nav-1 .btn form i{
    position: absolute;
    padding-right: 7px;
    right: 0;
    font-size: 18px;
}


.nav-2{
    height: 40px;
    width: 100%;
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media (max-width: 746px ) {
        display: none;
    }
}

.nav-2 a{
    text-decoration: none;
    color: rgb(56, 54, 54);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.nav-2 a:hover{
    /* color: rgb(84, 84, 205); */
    color: rgb(187, 116, 116);
}





/* footer */
footer{
    background-color: #E3E1D9;
}
.footer-top{
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-top  h2{
    font-size: 24px;
    font-family:  sans-serif;
    font-weight: 600;
}
.footer-top ol li{
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}
.footer-top ol li:hover{
    color: rgb(187, 116, 116);
    cursor: pointer;
}

hr{
    border: 1px solid rgb(186, 186, 186);
}

.footer-bottom{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 620px;
}