@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
} 

body{
    background: whitesmoke;
    font-size: 14px;
}

header {
    height: 100px;
    width: 100%;
    background-color: #e3e1d9;
  }
  .nav-1 {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .nav-1 p {
    display: none;
  }
  .nav-1 .icon {
    height: 60px;
    width: 180px;
    display: flex;
    padding: 20px;
    gap: 22px;
  }
  .nav-1 .icon i {
    font-size: 18px;
  }
  .nav-1 .icon i:hover {
    color: #bfcfe7;
  }
  .nav-1 .menu-icon {
      display: none;
  }
  .nav-1 h1 {
    font-size: 30px;
    font-family: sans-serif;
  }
  .nav-1 .btn {
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-1 .btn form {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    width: 300px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(197, 211, 224);
  }
  
  .nav-1 .btn form input {
    border: none;
    outline: none;
    height: 38px;
    width: 275px;
    border-radius: 12px;
    padding-left: 15px;
    background-color: rgb(197, 211, 224);
  }
  .nav-1 .btn form i {
    position: absolute;
    padding-right: 7px;
    right: 0;
    font-size: 18px;
  }
  
  .nav-2 {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-2 ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .nav-2 a {
    text-decoration: none;
    color: rgb(56, 54, 54);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  
  .nav-2 a:hover {
    color: rgb(187, 116, 116);
  }
  
  @media(max-width: 412px){
      
      *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
      }
  
      header{
          width: 100%;
          height: 80px;
      }
      .nav-1{
          height: 50px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 70px;
      } 
  
      .nav-1 .icon{
          display: none;
      }
      .nav-1 .menu-icon {
          display: flex;
      }
  
      .nav-1 h1{
          font-size: 20px;
          font-family: sans-serif;
      }
      .nav-1 .btn{
          height: 40px;
          width: 80px;
          display: flex;
          align-items: center;
          /* gap: 20px; */
          /* display: none;  */
      }
      .nav-1 .btn form {
          display: flex;
          align-items: center;
          position: relative;
          height: 30px;
          width: 100px;
          border-radius: 12px;
          border: none;
          outline: none;
          background-color: rgb(197, 211, 224);
      }
  
      .nav-1 .btn form input{
          /* display: none; */
          border: none;
          outline: none;
          height: 30px;
          width: 100px;
          border-radius: 12px;
          padding-left: 15px;
          background-color: rgb(197, 211, 224);;
      }
  
      .nav-1 .btn form i{
          position: absolute;
          padding-right: 7px;
          right: 0;
          font-size: 10px;
      }
  
      .nav-2{
          width: 100%;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .nav-2 ol{
          position: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 20px;
          gap: 15px;
      }
      .nav-2 ol li a{
          font-size: 10px;
          font-family: "Rubik",sans-serif;
      }
  
  
      main, footer{
          display: none;
      }
  }

section{
    width: 80%;
    margin: 50px auto;
}
section > h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
}
section > p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}

/* Main Box */
.contact-box{
    background: #fff;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
/* .contact-box .contact-left h3{
    
} */
/* left box*/
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-left form > label{
    font-family:  "Roboto", sans-serif;
}
.input-group label{
    font-family:  "Roboto", sans-serif;
}
.contact-left button{
    font-family:  "Roboto", sans-serif;
}
/* right box */
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    /* background: #1c00b5; */
    background-color: rgb(187, 116, 116);
    color: #fff;
    border-radius: 0px 15px 15px 0;
}

h1{
    margin-bottom: 10px;
}

section p{
    margin-bottom: 10px;   
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: rgb(187, 116, 116);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

button{
    /* background: #1c00b5; */
    background-color: rgb(187, 116, 116);
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 20px 0px #61615d;
}
button:hover{
    background-color: maroon;
    color: whitesmoke;
}

.contact-left h3{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    color: rgb(58, 56, 56);
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tbody tr td{
    padding-top: 20px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;

}
thead tr td{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;   
}
thead tr td a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
}

/* footer */
footer{
    background-color: #E3E1D9;
}
.footer-top{
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-top  h2{
    font-size: 24px;
    font-family:  sans-serif;
    font-weight: 600;
}
.footer-top ol li{
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}
.footer-top ol li:hover{
    color: rgb(187, 116, 116);
    cursor: pointer;
}

hr{
    border: 1px solid rgb(186, 186, 186);
}

.footer-bottom{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 620px;
}

.footer-bottom .icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 165px;
}

.footer-bottom .icons i{
    font-size: 22px;  
}
.footer-bottom .icons i:hover{
    color: #C7C8CC;
}

.footer-bottom .cop strong{
    font-size: 16px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}


